.section{
  margin-bottom:20px;
  width:100%;
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .wel-ul {
    width: 100%;
    li:not(:last-child){
      margin-right:15px;
    }
    li {
      padding: 10px 20px;
      width: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      text-align: center;
      .sta-left{
        width: 66px;
        height:66px;
        .icon {
          display: block;
          line-height:66px;
          color:#fff;
          font-size:30px;
        }
      }
      .sta-right{
        border:1px solid #e8ebf3;
        border-radius: 3px;
        border-left:0;
        p {
          white-space: nowrap;
          color: #999;
          font-size: 11px;
        }
        span {
          font-size: 20px;
        }
      }
    }
  }
}

